.login {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #f37022;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #03174f;
    cursor: not-allowed;
  }

  .lRegisterButton{
    border: none;
    padding: 10px 20px;
    width: 100%;
    background-color: #03174f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  @media screen and (max-width: 400px){
    img{
      display: none;
    }
  }