.navbar{
  height: 100px;
  /* background-color: #003580; */
  background-color: white;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navItems{
  color: #03174f;
  font-weight: bold;
}
.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
@media screen and (max-width: 900px) {
  img {
    width: 190px;
  }
}